---
import { Aside } from '@astrojs/starlight/components'
import { getLangFromUrl } from 'i18n/utils'
import { ui } from 'i18n/ui'

const lang = getLangFromUrl(Astro.url)
const t = ui[lang].aiTranslated

const title = encodeURIComponent(`doc: ${Astro.url.pathname}`)
const link = `https://github.com/thewakingsands/xivapi-v2/issues/new?title=${title}`
---

<Aside>{t.text}<a href={link} target="_blank">{t.linkText}</a>{t.suffix}</Aside>
