---
import { Aside } from '@astrojs/starlight/components'
import { getLangFromUrl, useTranslatedPath } from 'i18n/utils'
import { ui } from 'i18n/ui'

const lang = getLangFromUrl(Astro.url)
const translatedPath = useTranslatedPath(lang)
const t = ui[lang].cafeNotSupported

const { tag } = Astro.props
const link = translatedPath(`/docs/guides/difference${tag ? `#${tag}` : ''}`)
---

<Aside type="caution"
  >{t.text}<a href={link} target="_blank">{t.linkText}</a>{t.suffix}</Aside
>
